* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
}

.hide {
  display: none !important;
}

@grid-width: 960px;
@num-columns: 3;
@caption-height: 60px;
@box-shadow: 0px 3px 8px rgba(0,0,0,0.3);

.container-fluid {
  max-width: @grid-width;
  margin: 0 auto;
  padding-top: 45px;
  text-align: center;
}

.grid-sizer {
    width: @grid-width/@num-columns;
}

.item-wrapper {
  width: @grid-width/@num-columns;
  height: @grid-width/@num-columns;
  padding: 15px;
  float: left;
}

.item {  
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  border-color: hsla(0, 0, 0%, 0.5);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  box-shadow: @box-shadow;

  
    
  &:hover {
    .caption {
      bottom: @caption-height*-1;
    }
    .features {
      top: @caption-height*-1;
    }
  }
  
  .caption {
    position: absolute;
    width: 100%;
    height: @caption-height;
    bottom: 0;
    padding: 18px;
    background: rgba(255,255,255,0.1);
    border-radius: 0 0 5px 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    
    -webkit-transition: bottom 200ms ease-in-out;
    transition: bottom 200ms ease-in-out;
  }
  
  .features {
    position: absolute;
    width: 100%;
    height: @caption-height;
    top: 0;
    padding: 18px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
    -webkit-transition: top 200ms ease-in-out;
    transition: top 200ms ease-in-out;

  }
  
  .feature {
    display: inline-block;
    width: 33%;
  }
  
  .color-box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 4px;
    border: 1px solid #000;
    text-align: center;
    
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  }
}

.column-sidebar {
    .header {
    position: absolute;
    width: 100%;
    height: @caption-height;
    padding: 18px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    z-index: 2;
  }
}

.user {
  position: relative;
}

.desc {
  position: relative;
  width: 320px;
  float: left;
  padding: 15px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  
  .trait-list {
    position: relative;
    text-align: left;
    background: rgba(255,255,255,.2);
    margin: 0;
    padding: 75px 30px 30px 45px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
    box-shadow: @box-shadow;


    li {
      margin-bottom: 5px;
    }
    
    li:last-child {
      margin-bottom: 0;
    }

  }
}

.buy-button {
  float: left;
  width: 320px;
  height: 90px;
  line-height: 90px;
  background: #3498db;
  color: #fff;
  border-radius: 5px;
  margin: 15px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  
  -webkit-transition: 100ms linear;
  
  &:hover {
    background: #2980b9;
    -webkit-transform: scale(1.1);
  }
  
}


.column1 {
    width: @grid-width/@num-columns;
    height: @grid-width/@num-columns;

    .item {
        background-size: auto 320px;
    }
}

.column2 {
      width: @grid-width*2/@num-columns;
      height: @grid-width*2/@num-columns;

    .item {
        background-size: auto 640px;
    }
}

.column-main {
  width: 640px;
}

.column-sidebar {
  display: inline-block;
  width: 320px;
}



.sideTab {
  z-index: 10000;
}




#btn-container {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: -160px;
}

.btn {
  display: inline-block;
  width: 320px;
  height: 320px;
  line-height: 320px;
  margin: 0 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 70px;
  outline: none; 

  
  -webkit-transition: 100ms linear;
  
  &:hover {
    -webkit-transform: scale(1.1);
  }
}

.btn-green {
  background: #2ecc71;
  &:hover {
    background: #27ae60;
  }
}

.btn-blue {
  background: #3498db;
  &:hover {
    background: #2980b9;
  }
}




#background {
  z-index: -1;
  
  position: fixed;
  width: 110%;
  height: 110%;
  opacity: .8;
  
  -webkit-transition: background 2s linear;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  
  background-position: top center;
  background-color: #000;
  background-attachment:fixed;
  
  &.landing {
    background-image: url(/../imgs/sock1.jpg);
  }
  
  &.login-signup {
    background-image: url(/../imgs/sock2.jpg);
  }
}

@media only screen and (max-width: 960px) {
  .column2 {
        width: @grid-width/@num-columns;
        height: @grid-width/@num-columns;
  
      .item {
          background-size: auto @grid-width/@num-columns;
      }
  }
  
  .column-main .column2 {
        width: @grid-width*2/@num-columns;
        height: @grid-width*2/@num-columns;
  
      .item {
          background-size: auto @grid-width*2/@num-columns;
      }
  }
}